In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [13]:
df = pd.read_csv("base_taller.csv", delimiter=';')

In [16]:
df.head(10)

,player_id,player_name,age,country,height_cm,weight_lbs,position,overall,potential,Value_millions,pref_foot,weak_foot,skill_moves,international_reputation,Attacking_work_rate,Defensive_work_rate,body_type,club_country,club_name,club_overall
0,231747,Kylian Mbappé Lottin,23,France,182,161,ST,91,95,"190,5",Right,4,5,4,High,Low,Unique,France,Paris Saint Germain,84
1,192985,Kevin De Bruyne,31,Belgium,181,165,CM,91,91,"107,5",Right,5,4,4,High,Medium,Unique,England,Manchester City,85
2,188545,Robert Lewandowski,33,Poland,185,179,ST,91,91,84,Right,4,4,5,High,Medium,Unique,Spain,Fc Barcelona,83
3,165153,Karim Benzema,34,France,185,179,CF,91,91,64,Right,4,4,4,Medium,Medium,Normal (170-185),Spain,Real Madrid,85
4,158023,Lionel Andrés Messi Cuccittini,35,Argentina,169,148,RW,91,91,54,Left,4,4,5,Low,Low,Unique,France,Paris Saint Germain,84
5,239085,Erling Braut Haaland,21,Norway,195,207,ST,89,94,160,Left,3,3,4,High,Medium,Unique,England,Manchester City,85
6,192119,Thibaut Nicolas Marc Courtois,30,Belgium,199,212,GK,90,91,90,Left,3,1,4,Medium,Medium,Unique,Spain,Real Madrid,85
7,212831,Alisson Ramsés Becker,29,Brazil,193,201,GK,89,90,79,Right,3,1,3,Medium,Medium,Unique,England,Liverpool,84
8,212622,Joshua Walter Kimmich,27,Germany,177,165,CDM,89,90,"105,5",Right,4,3,4,High,Medium,Normal (170-185),Germany,Fc Bayern München,85
9,209331,Mohamed Salah Ghaly,30,Egypt,175,157,RW,89,89,"99,5",Left,3,4,4,High,Medium,Unique,England,Liverpool,84

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22080 entries, 0 to 22079
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   player_id                 22080 non-null  int64
 1   player_name               22080 non-null  object
 2   age                       22080 non-null  int64
 3   country                   22080 non-null  object
 4   height_cm                 22080 non-null  int64
 5   weight_lbs                22080 non-null  int64
 6   position                  22080 non-null  object
 7   overall                   22080 non-null  int64
 8   potential                 22080 non-null  int64
 9   Value_millions            22080 non-null  object
 10  pref_foot                 22080 non-null  object
 11  weak_foot                 22080 non-null  int64
 12  skill_moves               22080 non-null  int64
 13  international_reputation  22080 non-null  int64
 14  Attacking_work_rate       22080 non-null  object
 15  Defensive_work_rate       22080 non-null  object
 16  body_type                 22080 non-null  object
 17  club_country              22080 non-null  object
 18  club_name                 22080 non-null  object
 19  club_overall              22080 non-null  int64
dtypes: int64(10), object(10)
memory usage: 3.4+ MB